* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #9c835f;
}



body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    height: 20vh;
    color: #f9B23d;
    position: relative;
    top: 2rem;
    left: 8.2rem;
    font-size: 36px;
}

main {
    width: 100vw;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 2rem 8rem;
}

.container h3 {
    font-size: 36px;
    letter-spacing: 6px;
}

h2 {
  font-size: 12.4rem;
  color: #bd0000;  
}

button {
    background-color: transparent;
    border: none;
    padding: 2.6rem;
}

.btn:hover {
    background-color: #c4c4c4;
    padding: 2.6rem;
    border-radius: 15%;
    cursor: pointer;
}

.middle {
    align-self: center;
}

.player-1 {
    display: flex;
    flex-direction: column;
    gap: 6.8rem;
    align-items: center;
}

.com {
    display: flex;
    flex-direction: column;
    gap: 6.8rem;
    align-items: center;
}

.size {
    width: 10.2rem;
    height: 10.2rem;
}

.container-footer {
    display: flex;
    justify-content: center;
}
